@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

.header{
    background: #ffa401;
    text-align: center;
    padding: 20px 0;
}

.nav{
    color: white;
    background: #29323e;
    width: 280px;
    height: 100%;
    position: fixed;
    font-family: 'Lato';
    top: 0;
    left: 0;
}

.menu-active{
    border-right: 3px solid #ffa401;
    background: rgba(0, 0, 0, 0.5);
}

.menu li a{
    padding: 15px 0 15px 60px;
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
}

.menu{
    list-style: none;
    padding: 0;
}

.menu li:not(.menu-active) a:hover{
    background: rgba(0, 0, 0, 0.2);
}

.content{
    margin-left: 300px;
}

.menu li a img{
    height: 25px;
    position: absolute;
    left: 20px;
    top:50%;
    transform: translateY(-50%);
}

@media(max-width:400px){
    .menu li a span{
        display: none;
    }

    .nav{
        width: 70px;
    }

    .menu li a{
        padding: 30px;
    }

    .menu li a img{
        height: 30px;
    }

    .content{
        margin-left: 90px;
    }
}